In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
from selenium import webdriver
driver = webdriver.Chrome()
driver.get("https://www.ambitionbox.com/")

In [4]:
Jobs_button=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
Jobs_button.click()

In [12]:
search_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field_designation.send_keys("Data Scientist")

In [14]:
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search_button.click()

In [15]:
location_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location_button.click()

In [16]:
Noida_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
Noida_field_designation.send_keys("Noida")

In [17]:
selecting_Noida_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
selecting_Noida_button.click()

In [18]:
Company_Name=[]
Days=[]
Company_Rating=[]

In [19]:
company_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="e5515c7e-de02-4add-b65e-37adac53b8b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="d7c03f74-eb7d-45e6-a81e-f0c6c9344ccd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="9ef2da37-3375-4b19-acc6-9ad5ee532623")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="bd98088c-4ce6-44d9-a826-e42d87d4b69b")>]

In [20]:
for i in company_tags:
    try:
        company=i.text
        Company_Name.append(company)
    except:
        Company_Name.append("-")
Company_Name[0:4]

['GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'Tech Mahindra Ltd',
 'GENPACT India Private Limited']

In [28]:
days_tags=driver.find_elements_by_xpath("//span[@class='body-small']")
days_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="0e4ff422-39a5-49d9-8a97-a006d1e56e96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="e4278850-109a-455b-ac25-fb3e6fa82350")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="543c76fb-51e6-4e3d-92cd-f54d7a7e8da7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="9360e675-2413-40fb-b7da-14ecdc3ec106")>]

In [29]:
for i in days_tags:
    try:
        days=i.text
        Days.append(days)
    except:
        Days.append("-") 
Days[0:4]

['4d ago', 'via naukri.com', '9d ago', 'via naukri.com']

In [25]:
rating_tags=driver.find_elements_by_xpath("//span[@class='body-small']")
rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="0e4ff422-39a5-49d9-8a97-a006d1e56e96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="e4278850-109a-455b-ac25-fb3e6fa82350")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="543c76fb-51e6-4e3d-92cd-f54d7a7e8da7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f154fa365da22a0f14cfbe9438398be2", element="9360e675-2413-40fb-b7da-14ecdc3ec106")>]

In [26]:
for i in rating_tags:
    try:
        rating=i.text
        Company_Rating.append(rating)
    except:
        Company_Rating.append("-")
Company_Rating[0:4]

['', '', '', '']

In [27]:
print(len(Company_Name),len(Days),len(Company_Rating))

10 20 22

In [30]:
import pandas as pd

In [31]:
Data_Scientist_Job_Details=pd.DataFrame({})

In [32]:
Data_Scientist_Job_Details['name']=pd.Series(Company_Name)
Data_Scientist_Job_Details['days before posted']=pd.Series(Days)
Data_Scientist_Job_Details['rating']=pd.Series(Company_Rating)

In [33]:
Data_Scientist_Job_Details

                                name days before posted rating
0      GENPACT India Private Limited             4d ago
1      GENPACT India Private Limited     via naukri.com
2                  Tech Mahindra Ltd             9d ago
3      GENPACT India Private Limited     via naukri.com
4                   HCL Technologies            23d ago
5          Bristlecone India Limited     via naukri.com
6                              Zyoin            26d ago
7  Newgen Software Technologies Ltd.     via naukri.com
8         Pitney Bowes India Pvt Ltd            30d ago
9                  JK Technosoft Ltd     via naukri.com